header {
    font-size: 1.7rem;
    margin: 30px auto 10px auto;
    padding: 30px 20px 20px 20px;

}
section {
    width: 350px;
    margin: 0 auto 50px auto;
    padding: 20px 10px;
}
label {
    font-size: 1.5rem;
}
span {
    height: 20px;
    margin-top: 18px ;
    font-size: 1.5rem;

}